<div class="nav">
    <h3>{{ include.cat }}</h3>
    <ul>
        {% assign pagelist = site.pages | sort: 'order'  %}
        {% assign subcategory = ''  %}

        {% for p in pagelist %}
          {% if p.category == include.cat %}

          {% if p.subcategory != subcategory %}
            {% assign subcategory = p.subcategory  %}
            <h4>{{ subcategory }}</h4>
          {% endif %}

            <li class="{% if p.url == page.url %}active{% endif %}">
                <a href="{{ p.url }}">{{ p.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div>
